html {
    scroll-behavior: smooth;
    max-width: 100%;
    border-top: 6px solid;
    border-image-source: linear-gradient(90deg,#f7c9c9,#fa709a 70%);
    border-image-slice: 1;
}

body {
    background-color: #faeee7;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    font-size: 4rem;
    font-weight: 600;
    color: #33272a;
    grid-area: hello;
}

h2 {color: #33272a;}

.profile {
  border-radius: 50%;
  max-width: 90%;
  height: auto;
  border:6px dotted #fa709a;
  grid-area: pic;
  align-self: center;
}

.setup {
  border-radius: 20%;
  height: 360px;
}

p {
  grid-area: para;
  font-size: 1.5rem;
  font-family: Arial, sans-serif;
  color: #33272a;
}

.p-font-about {
  font-size: 1.3rem;
  font-family: Arial, sans-serif;
  color: #33272a;
}

.email {color: #fa709a;}

ul {font-size: 1.2rem; color: #33272a;}
li {line-height: 1.8;}

/* ampersand */
span.amp {
  font-family:Baskerville,"Goudy Old Style","Palatino","Book Antiqua",serif;
  font-size:110%;
  font-style:italic;
}

.topnav {overflow: hidden;}

/* grid ares for about me */
.skills {grid-area: skills;}
.experience {grid-area: experience;}
.volunteer {grid-area: volunteer;}
.interests {grid-area: interests;}

/* Project images  */
.project {
  border-radius: 30%;
  max-width: 50%;
  height: auto;
  align-self: center;
  position: relative; 
}

.project:hover {
  -moz-box-shadow: 0 0 10px #fa709a;
  -webkit-box-shadow: 0 0 10px #fa709a;
  box-shadow: 0 0 10px #fa709a;
}
  
/* Style the links inside the navigation bar */
.topnav a {
  font-weight: 700;
  float:right;
  display: block;
  color: #25232d;
  text-align: center;
  padding: 14px 23px;
  text-decoration: none;
  font-size: 22px;
  border-bottom: 3px solid transparent;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #f7c9c9;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #f7c9c9;
  /* transform-origin: bottom right; */
  transition: transform 0.25s ease-out;
} 
  
.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* END Style the links inside the navigation bar */

.myLinks a { /* social media links */
  grid-area: social;
  color: #594a4e;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 75px;
}

.myLinks a:hover { 
  color: #f7c9c9;
  text-decoration: none;
}

.figcaption {
  color: #fa709a;
  font-weight: 550;
  font-size: 1.2rem;
  padding: 5px;
  text-align: center;
}

.slideshow-container {
  max-width: 950px;
  position: relative;
  margin: auto;
}

.prev, .next { /* Next & previous buttons */
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #fe437c;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next { /* Position "next button" to the right */
  right: 0;
  border-radius: 3px 0 0 3px;
}

.text { /* Caption of slide show */
  color: #33272a;
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding-bottom: 7px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.text a {color:#c9033e}

.numbertext { /* Slide show number */
  color: #33272a;
  font-size: 14px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot { 
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin: 0 2px;
  border-radius: 50%;
  background-color: rgb(192, 180, 180);
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover { background-color: #7d6f6f;}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) { /* Media Small Screen - Slide Show */
  .prev, .next,.text {font-size: 11px}
}


@media screen and (min-width: 1034px) { /* large screen */
  .page { /* home page */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 700px 300px;
    grid-template-rows: auto;
    grid-template-areas: 
      "hello pic"
      "para pic"
      "social . ";
  }

  .profile { 
    border-radius: 50%;
    max-width: 90%;
    height: auto;
    border:6px dotted #fa709a;
    grid-area: pic;
    align-self: center;
  }

  .myLinks a {
    grid-area: social;
    color: #594a4e;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    padding-right: min(2px, 5%);
  }

  .listAbout {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: auto;
    grid-template-areas: 
      "skills experience"
      "volunteer interests";
    column-gap: 100px;
  }

  .projectGrid {
    display: grid;
    grid-template-columns: 550px 550px;
    grid-template-rows: auto;
    row-gap: 30px;
    grid-template-areas: 
      "google fire"
      "chess tofu";
  }

  .project {
    border-radius: 30%;
    max-width: 85%;
    height: auto;
    align-self: center;
    position: relative; 
  }

  .setup {
    border-radius: 20%;
    height: 360px;
    max-width: 80%;
    height: auto;
  }

}

@media screen and (max-width: 1033px) and (min-width: 401px) { /* Middle Screen */
    
  .page {
    display: grid;
    overflow: hidden;
    display: block;
  }

  .profile {
    max-width: 45%;
    height: auto;
    border:6px dotted #fa709a;
    grid-area: pic;
    align-self: center;
  }

  .setup {
    border-radius: 20%;
    height: 360px;
    max-width: 80%;
    height: auto;
  }

  .myLinks a {
    grid-area: social;
    color: #594a4e;
    text-decoration: none;
    font-size: max(2rem, 15px);
    font-weight: 600;
    padding:35px
  }
  
  .myLinks a:hover {
    color: #f7c9c9;
    text-decoration: none;
  }

  .topnav a {
    grid-area: social;
    color: #25232d;
    text-decoration: none;
    font-size: max(1.3rem, 15px);
    font-weight: 600;
    padding:12px;
  }

  .projectGrid {
    display: grid;
    overflow: hidden;
    row-gap: 150px;
  }

  .project {
    border-radius: 30%;
    max-width: 65%;
    height: auto;
    align-self: center;
    position: relative; 
  }
}

@media screen and (max-width: 400px) { /* iPhone */
  .page {
    display: grid;
    overflow: hidden;
    display: block;
  }

  h1 {
    font-size: 3rem;
  }

  .profile {
    border-radius: 50%;
    max-width: 45%;
    height: auto;
    border:6px dotted #fa709a;
    grid-area: pic;
    align-self: center;
  }

  .topnav a {
    grid-area: social;
    color: #25232d;
    text-decoration: none;
    font-size: max(1.3rem, 15px);
    font-weight: 600;
    padding:10px
  }

  .myLinks a {
    color: #594a4e;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  
  .myLinks a:hover {
    color: #f7c9c9;
    text-decoration: none;
  }

  .listAbout {
    display: grid;
    overflow: hidden;
    display: block;
  }

  .projectGrid {
    display: grid;
    overflow: hidden;
    row-gap: 75px;
  }

  .project {
    border-radius: 30%;
    max-width: 65%;
    height: auto;
    align-self: center;
    position: relative; 
  }

  .setup {
    border-radius: 20%;
    height: 360px;
    max-width: 80%;
    height: auto;
  }

}
